<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/fragments/fragmentHeader :: header ('⭐Board')}" />
<body>
<nav th:replace="~{/fragments/fragmentNavigator :: nav}" />

<main class="container">
  <div class="bg-light p-3 rounded starter-template main-title">
    <h3>게시판</h3>
  </div>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">날짜</th>
      <th scope="col">추천</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${boards}">
      <th scope="row" th:text="${board.id}">1</th>
      <td th:onclick="|location.href='@{/boards/{boardId} (boardId = ${board.id})}'|" th:text="${board.title}" th:class="'pointer'">Mark</td>
      <td th:text="${null}">@mdo</td>
      <td th:text="${#temporals.format(board.createdAt, 'yy.MM.dd HH:mm')}">Otto</td>
      <td th:text="${null}">@mdo</td>
    </tr>
    </tbody>

  </table>

  <div class="write-btn">
    <button th:onclick="|location.href='@{/boards/new-board}'|" type="button" class="btn btn-dark">
      <span><i class="fas fa-pencil-alt"></i></span>
      <span>글쓰기</span>
    </button>
  </div>
</main>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
<script src="app.js"></script>
</body>
</html>