* {
    text-decoration-line: none;
    font-family: 'Noto Sans JP', sans-serif;
}
.nav-link {
    cursor: pointer;
}

.main-title {
    margin-bottom: 20px;
}

.pointer:hover {
    cursor: pointer;
    text-decoration: underline;
}

.write-btn {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#content, #title {
    font-size: 18px;
}

.content-length {
    position: absolute;
    right: 14px;
    bottom: 6px;
    font-size: 12px;
}

.blind {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.69);
    z-index: 2;
    height: 100vh;
    width: 100vw;
}
.none {
    display: none;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.btn-dark {
    margin-top: 10px;
    margin-left: 4px;
}

.btn-dark:hover {
    opacity: 80%;
    transform: scale(0.95);
    transition: 0.1s ease-in-out;
}

.error-message {
    color: #f41c1c;
    font-weight: 600;
}

.home-btn {
    width: 10rem;
}

.optional {
    font-size: 12px;
}

.content {
    word-wrap: break-word;
}

.comment-btn {
    border: none;
    background-color: #0d6efd;
    cursor: pointer;
    text-align: center;
    width: 100px;
    color: white;
}

.comment-btn:hover {
    opacity: 70
}